

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --white: #ffff;
    --gray:#A1A1AA;
  }


body{
    background-image: url( ./src/assets/Fundo.svg );
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



h2{
    color: var(--white);
    font-family: Inter;
font-size: 24px;
font-weight: 900;
line-height: 38px;
}
p{
    color: var(--gray);
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 26px;

}

main > section img{
    width: 10rem;
    border-radius: 100%;
    height: 9rem;
}

.content{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card{
    width: 50rem;
    margin-top: 16px;
    background-color: rgba(42, 38, 52, 1);
    width: 400px;
    border-top: solid;
    border-image: linear-gradient(to right,rgba(149, 114, 252, 1), rgba(67, 231, 173, 1), rgba(226, 212, 92, 1));
    border-image-slice: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    
}

.card2 img{
    border-radius: 100%;
}


.list{
    display: flex;
    gap: 1rem;
    
    margin-top:1.5rem;
}
